.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .circular-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
  }

  #dropdown-basic {
    background-color: transparent;
    border-color: white;
    border-style: none;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 110px; 
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
    width: 300px; /* Adjust width if needed */
  }
  
  .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: small;
    color: #5f5d5d;
    border: 1px solid transparent; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }  
  .dropdown-item button {
    margin-left: 10px;
    padding: 5px 10px;
  }

  .buttonlogin {
     background-color: rgb(54, 106, 250);
     color: white;
     border: none;
     font-weight: 500;
     margin-top: 20px;
     border-radius: 10px;
     padding: 50px;
  }
  
  .accountdetails {
    font-size: small;
    text-align: left;
    color: #8e8a8a;
    font-weight: 600;
  }
  .itms2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .arrow {
    display: flex;
    align-items: flex-end;
  }
  .new {
    background-color: #25D366;
    color: white;
    border-radius: 5px;
    padding: 8px;
  }