.btn-open {
    background-color: rgb(53, 137, 64);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 4px;
    width: 100%;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    max-height: 450px;
    overflow-y: auto;
    padding: 50px;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
  }
  
  .btn-close {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .modal-body {
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .input-description {
    font-size: 12px;
    color: gray;
    margin-bottom: 8px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-next {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .modal-content {
      width: 90%;
    }
  }
  